.Portfolio {
  background: #2a2a2a;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif; }

.Portfolio-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.portfolio-intro {
  max-width: 100%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left; }

.portfolio-intro h1 {
  width: 100%;
  font-size: 2.3em;
  font-weight: bold;
  text-align: left;
  color: #cacaca;
  margin: 30px 0 0 0; }

.portfolio-intro p {
  font-size: 1.4em;
  color: #8a8a8a;
  margin: 25px 0;
  line-height: 26px; }

.skills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-size: 1.2em;
  text-align: left;
  color: #8a8a8a;
  margin: 0 0 10px 0; }

.skills li {
  background: #313131;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  border: 0px solid #000000;
  padding: 5px;
  margin: 10px 5px; }

.skills li:hover {
  cursor: pointer; 
  background: #333333;
}

.projects-container {
  width: 100%;
  margin: -40px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.project-box {
  width: 380px;
  margin: 10px 0; }

.project-box h1 {
  width: 100%;
  font-size: 1.3em;
  margin-bottom: 3px; }

a {
  text-decoration: none;
  color: #8a8a8a; }
  /* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 768px) {
.next, .prev{
display: none;
}
.Portfolio-content {
  width: 90%;
 }
  .project-box {
  width: 380px;
  margin: 10px 0; }

  .skills li {
  background: #313131;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  border: 0px solid #000000;
  padding: 5px;
  margin: 8px 5px; }


}

