.Contact{
    display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.contact-content{
margin: 10% auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.contact-title{
margin: 30px 0 0 0; 
font-size: 2.3em;
  font-weight: bold;
  text-align: left;
  color: #cacaca;
}
.contact-content p{
    width: 90%;
  font-size: 1.4em;
  color: #8a8a8a;
  margin: 25px 0;
  line-height: 26px;
}