.Recommend{
    display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.Recommend-content{
margin: 10% auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.Recommend-title{
margin: 30px 0 0 0; 
font-size: 2.3em;
  font-weight: bold;
  text-align: left;
  color: #cacaca;
}
.recomendations p{
    width: 100%;
  color: #8a8a8a;
  line-height: 26px;
}
.text-body{
font-style: italic;
  font-size: 1.4em;
  margin: 60px 0 5px 0;
    
}
.text-author{
font-size: 1.2em;
margin: 0 0 0 50px;
}
@media only screen and (max-width: 768px) {
.next, .prev{
display: none;
}



}